* {
  font-family: 'Khula', sans-serif;
}

#header {
  padding: 15px 0;
}

#header .close-menu {
  display: none;
}

#header .menu-icon {
  display: none;
}

#header .menu-open {
  display: none;
}

#header .menu li a {
  text-decoration: none;
  padding: 5px 10px;
  color: #222222;
  font-weight: 700;
  font-size: 20px;
}

#header .search-input input {
  border: none;
  outline: none;
  padding: 15px 5px;
  width: 89%;
}

#header .search-input button {
  padding: 5px 20px;
  background-color: #ef3636;
  color: floralwhite;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

#header .social-ico i {
  padding: 5px 7px;
}

#header-2 .header-text h2 {
  text-align: center;
}

@media (max-width: 768px) {
  #header .logo {
    width: 33.333%;
    margin: auto;
  }
  #header .menu-icon {
    display: block;
    position: absolute;
    bottom: 380px;
    left: 15px;
    cursor: pointer;
  }
  #header .menu-icon i {
    padding: 0 2px;
    font-size: 14px;
  }
  #header .close-menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
  #header .menu-open {
    display: block;
    position: absolute;
    top: 28px;
    left: 20px;
    cursor: pointer;
    font-size: 1.2em;
  }
  #header .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header .search-input {
    display: none;
  }
  #header .menu {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background: #000;
    color: #ffffff;
    width: 50%;
    display: none;
  }
  #header .menu li a {
    color: #ffffff;
    font-size: 14px;
    text-transform: capitalize;
  }
  #header .menu li {
    padding: 5px;
    border-bottom: 1px solid #363636;
  }
  #header .social-ico i {
    display: none;
  }
  #header .social-ico i:nth-child(3) {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
  }
}

#Categories {
  margin: 3em 0;
}

#Categories .cat-item {
  position: relative;
  overflow: hidden;
}

#Categories .cat-item:hover h2 {
  color: white;
}

#Categories .cat-item:hover h2::after {
  width: 100%;
}

#Categories .cat-item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#Categories .cat-item img {
  vertical-align: middle;
  -webkit-transition: .3s;
  transition: .3s;
}

#Categories .cat-item h2 {
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  position: relative;
  z-index: 2;
}

#Categories .cat-item h2::after {
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  height: 100%;
  background: #222222;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

#Categories .cat-item .cat-text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: white;
}

#icon-section {
  padding: 120px 30px;
  text-align: center;
}

#icon-section .icon-logo {
  -webkit-transition: .3s;
  transition: .3s;
}

#icon-section .icon-logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#icon-section .icon-text {
  padding: 0 40px;
}

#icon-section .icon-text a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 18px;
  padding-top: 55px;
}

#icon-section .icon-text span {
  color: red;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */